h1 Patients

input.col-xs-12(ng-model="search" placeholder="Type to search")

table.table.table-striped
  thead
    tr
      th Name
      th Phone
      th: a.btn.btn-default(href="#/patients/create")
        i.fa.fa-plus  New pacient
  tbody
    tr(ng-repeat="patient in patients|filter:search")
      td
        a(href="#/patients/{{patient.id}}") {{ patient.name }}
      td {{ patient.phone }}
      td
        .btn-group
          a.btn.btn-default(href="#")
            i.fa.fa-pencil  Edit
          a.btn.btn-danger(href="#")
            i.fa.fa-remove  Delete
